@font-face {
    font-family: 'reboard';
    src: url('fonts/reboard.eot');
    src: url('fonts/reboard.eot?#iefix') format('embedded-opentype'),
         url('fonts/reboard.woff') format('woff'),
         url('fonts/reboard.ttf') format('truetype'),
         url('fonts/reboard.svg#REBOARDRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html{
	background-color:#CCC;
}

body{
	width:1010px;
	padding:10px;
	margin:0px auto 10px;
	background-color:white;
	box-shadow:0px 5px 15px rgba(0,0,0,0.75);
}

header{
	position:relative;
	margin-bottom:10px;
}

#logo{
	width:250px;
	display:inline;
	float:left;
}

#mystz{
	position:absolute;
	top:10px;
	right:20px;
	width:400px;
}

#mainNav{
	position:absolute;
	list-style-type:none;
	bottom:0px;
	right:10px;
}

#mainNav li{
	float:left;
	display:inline;
}

#mainNav img{
	display:inline;
}

.socialNav li{
	margin-left:10px;
}

.siteNav li{
	background-color:#CCC;
	font-family:reboard;
	font-size:20px;
	width:100px;
	padding:8px 5px;
	margin-left:20px;
	color:black !important;
	text-align:center;
	box-shadow:0px 1px 4px rgba(0,0,0,0.35);
}

.siteNav li:hover{
	box-shadow:0px 1px 8px rgba(0,0,0,0.65);	
}

.square{
	width:330px;
	height:330px;
	float:left;
	display:inline;
	background-color:#CCC;
	margin:0px 10px 10px 0px;
	box-shadow:0px 1px 4px rgba(0,0,0,0.35);
	font-family:reboard;
	color:black !important;
	text-align:center;
	line-height:330px;
	font-size:72px;
	text-shadow:2px 2px 1px rgba(255,255,255,0.75);
	text-decoration:none !important;
}

.square:hover{
	box-shadow:0px 1px 8px rgba(0,0,0,0.65);
	cursor:pointer;
}

.square:last-child{
	margin-right:0px;
}

#rotator{
	width:670px;
	height:330px;
	float:left;
	display:inline;
	background-color:#CCC;
	margin:0px 0px 10px 0px;
	box-shadow:0px 1px 4px rgba(0,0,0,0.35);
	text-align:center;
	line-height:330px;
	font-family:reboard;
	font-size:72px;
	text-shadow:2px 2px 1px rgba(255,255,255,0.75);
	text-decoration:none !important;
}

#rotator:hover{
	box-shadow:0px 1px 8px rgba(0,0,0,0.65);
	cursor:pointer;
}

.productWrapper{
	float:left;
	display:inline;
	width:310px;
	padding:10px;
	height:500px;
	box-shadow:0px 1px 4px rgba(0,0,0,0.35);
	margin:10px 10px 10px 0px;
}

.productWrapper:hover{
	box-shadow:0px 1px 8px rgba(0,0,0,0.65);
	cursor:pointer;
}

.productWrapper:nth-child(3n){
	margin-right:0px;
}
.productImage{
	margin:0px auto;
	height:420px;
	overflow:hidden;
}
.productImage img{
	width:310px;
}
figcaption{
	margin-top:10px;
	font-family:helvetica;
}
form{
	float:right;
}
input{
	text-align:right;
	float:right;
}
.buyButton{
	width:165px;
	text-align:center;
}
select{
	float:right;
	margin-left:5px;
}

footer{
	display:block;
	margin-top:10px;
}

#footerNav{
	list-style-type:none;
	font-family:reboard;
	width:400px;
	margin:0px auto;
	text-align:center;
	padding:0px;
}

#footerNav a{
	text-decoration:none;
	float:left;
	display:inline;
}

#footerNav li{
	text-align:center;
	color:#CCC !important;
}

#footerNav section{
	display:block;
	margin:0px auto 5px;
}

.line1{
	width:158px;
}

.line1 li{
	font-size:18px;
	
}

.line2{
	width:149px;
}

.line2 li{
	font-size:24px;
	margin:0px 10px;
}

.line3{
	width:311px;
}

.line3 li{
	font-size:16px;
	margin:0px 15px;
}

.line4{
	width:114px;
}

.line4 img{
	width:30px;
	margin:0px 4px;
}

.line5{
	width:362px;
	font-family:helvetica;
	font-size:14px;
	text-transform:uppercase;
	text-align:center;
}

.longRect{
	width:100%;
	height:330px;
	float:left;
	display:inline;
	background-color:#CCC;
	margin:0px 10px 10px 0px;
	box-shadow:0px 1px 4px rgba(0,0,0,0.35);
	font-family:reboard;
	color:black !important;
	text-align:center;
	line-height:330px;
	font-size:100px;
	text-shadow:2px 2px 1px rgba(255,255,255,0.75);
	text-decoration:none !important;
}

.longRect:hover{
	box-shadow:0px 1px 8px rgba(0,0,0,0.65);
	cursor:pointer;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

#lightbox {
 display:none;
 background:#000000;
 opacity:0.9;
 filter:alpha(opacity=90);
 position:fixed;
 top:0px;
 left:0px;
 min-width:100%;
 min-height:100%;
 z-index:1000;
}
/* Lightbox panel with some content */
#lightbox-panel {
 display:none;
 position:fixed;
 top:0px;
 left:30%;
 width:40%;
 background:#FFFFFF;
 padding:10px 15px 10px 15px;
 border:2px solid #CCCCCC;
 z-index:1001;
}

#lightbox-panel img{
	width:100%;
}