#shirtViewer {
  position: fixed;
  height: 400px;
}

.slider {
  position: absolute;
  top: 0px;
  left: 0px;
}

.flexslider {
  width: 391px;
  margin: 0px auto;
  background-color: transparent !important;
  box-shadow: none !important;
}

.designControls,
.colorControls {
	margin-bottom: 30px;
}

.designControls img,
.colorControls img {
	border: 2px solid white;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
	width: 70px;
	height: 70px;
}

.designControls img:hover,
.colorControls img:hover {
  box-shadow: 0 0 5px black;
}

.designControls:hover,
.colorControls:hover {
  cursor: pointer;
}

.shirtmaker-randomize {
	position: absolute;
	padding: 10px; 
	border: 1px solid #BBB;
	background: #BBB;
	top: 510px;
}

.shirtmaker-share {
	position: absolute;
	padding: 10px; 
	border: 1px solid #BBB;
	background: #BBB;
	top: 510px;
	left: 110px;
}

.shirtmaker-randomize:hover,
.shirtmaker-share:hover {
	cursor: pointer;
	background: #555;
	color: #BBB;
	border: 1px solid #555;
}
