.shirtMaker {
  width: 1020px !important;
  padding: 100px 20px 20px;
  min-height: 520px;
}
#shirtViewer {
  position: fixed;
  height: 400px;
  width: 400px;
}
.slider {
  position: absolute;
  top: 0px;
  left: 0px;
}
.flexslider {
  width: 391px;
  margin: 0px auto;
  background-color: transparent !important;
  box-shadow: none !important;
}
.shirtmaker-step {
  padding-left: 400px;
  text-align: center;
}
#designThumb {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#designThumb li {
  display: inline-block;
  padding: 1px;
}
#designThumb li:hover {
  background-color: #2DB674;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.95);
}
#designThumb li img {
  width: 80px;
  margin: 2px;
}
.graphicControls {
  height: 86px;
  width: 86px;
}
.colorControls {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.colorControls:hover {
  box-shadow: 0 0 5px black;
}
.colorControls:hover,
.graphicControls:hover {
  cursor: pointer;
}
#swatchContainer .colorControls img {
  width: 40px;
}
.color-options-container {
  width: 280px;
  margin: 0 auto;
  padding: 0;
}
#size #sizes li {
  margin-top: 5px;
  background-color: #CCC;
}
#sizes li.selected {
  background-color: orange !important;
}
#sizes li:hover {
  background-color: #0fa1f5 !important;
  cursor: pointer;
}
#quantity select {
  display: block;
  width: 220px;
  padding: 15px 0;
  height: 40px;
}
#checkout span {
  display: block;
  background-color: #2db674;
  text-align: center;
  margin: 3px 0 15px;
  font-size: 24px;
  font-weight: 700;
}
#checkout span:hover {
  cursor: pointer;
  background-color: orange;
}
